body {
  background-color: #ecf0f1;
}

.btn {
  cursor: pointer;
}

body {
  color: #34495e;
  padding: 0;
}

svg {
  fill: currentColor;
}

#clock {
  font-size: 60px;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.container > span {
  margin-left: 10px;
  font-size: 16px;
}

.container > div {
  display: flex;
  overflow-wrap: anywhere;
  padding-left: 10px;
}

.del-btn {
  color: red;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.write-btn {
  color: rgba(189, 27, 167, 0.89);
  margin-left: auto;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
}

.todo-input {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.hide {
  display: none;
}

.js-clock {
  display: flex;
  justify-content: center;
}

.js-greetings {
  justify-content: center;
  display: flex;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  /* border: 1px solid black; */
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
